# Database Configuration
DB_HOSTNAME=localhost
DB_USERNAME=root
DB_PASSWORD=superman#@!63
DB_DATABASE=codeigniter_ecom

# Email Configuration
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=

# Redis Configuration
REDIS_ENABLED=false
SESSION_DRIVER=database
SESSION_SAVE_PATH=tcp://127.0.0.1:6379
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=null

# Security Configuration
ADMIN_WHITELIST_ENABLED=false
ADMIN_ALLOWED_IPS=127.0.0.1,::1
SECURITY_KEY=e82f716c52a91b490f845d0701eb50f58273618392cf0e6b

# Pusher Configuration (For Real-time Dashboard)
PUSHER_APP_ID=YOUR_APP_ID
PUSHER_APP_KEY=YOUR_APP_KEY
PUSHER_APP_SECRET=YOUR_APP_SECRET
PUSHER_APP_CLUSTER=mt1
PUSHER_ENABLED=false
